<!-- main layout client -->

<div class="window-content">

    <div class="notification" [ngClass]="notification" (click)="removeNotification()">

        <img src="../../../../../assets/img/leagueOfLegends/client/rammus.png" alt="">
        <p>Projeto desenvolvido com finalidade de testar meus conhecimento com o framework angular. Espero que goste
            e também contribua para o projeto crescer :)
        </p>

    </div>

    <header>

        <div class="play-game">
            <img src="../../../../../assets/img/system/icons/lol.png" alt="">

            <div class="button" (click)="navigate('/system/LeagueOfLegends/pvp')">

                <img src="../../../../../assets/img/leagueOfLegends/client/play.png" alt="">

                <span>Jogar</span>

            </div>

        </div>

        <nav>

            <ul class="list-game">

                <a [routerLink]="['home']">
                    <li routerLinkActive="active">Início</li>
                </a>
                <li class="invalid">TFT</li>
                <li class="invalid">Clash</li>
    
            </ul>
    
            <ul class="navigation">
    
                <a [routerLink]="['profile']">
                    <li routerLinkActive="active">
                        <img src="../../../../../assets/img/leagueOfLegends/client/user-profile.png" alt="">
                    </li>
                </a>
                <li class="invalid"><img src="../../../../../assets/img/leagueOfLegends/client/collection.png" alt=""></li>
                <li class="invalid"><img src="../../../../../assets/img/leagueOfLegends/client/espolio.png" alt=""></li>
                <li class="invalid"><img src="../../../../../assets/img/leagueOfLegends/client/store.png" alt=""></li>
                
            </ul>

        </nav>

        <div class="resources">
            
            <div class="resource">
                <img src="../../../../../assets/img/leagueOfLegends/client/rp.png" alt="">
                <span>1000</span>
                <div class="popup">RP</div>
            </div>
            
            <div class="resource">
                <img src="../../../../../assets/img/leagueOfLegends/client/ea.png" alt="">
                <span>300</span>
                <div class="popup">Essência Azul</div>
            </div>
        
        </div>

        <div class="user">
            
            <div class="avatar">
                <img src="../../../../../assets/img/leagueOfLegends/client/avatar-border.png" width="60" alt="">
                <img src="../../../../../assets/img/leagueOfLegends/client/vex.jpg" alt="">
                <span>136</span>
            </div>

            <div class="info-user">
                <p>{{ user }}</p>
                <span>
                    <div class="ball"></div>
                    Online
                </span>
            </div>

        </div>

    </header>

    <aside>

        <div class="requests">
            <p>Pedidos de amizade</p>
            <span>35</span>
        </div>

        <div class="friends">

            <div class="friend" *ngFor="let friend of friends">
                
                <div class="icon">
                    <img src="{{ friend.icon }}" alt="">
                </div>

                <div class="info">
                    <p>{{ friend.name }}</p>
                    <span>Offline</span>
                </div>

                <div class="popup">
                    <div class="banner">
                        <img src="{{ friend.banner }}" alt="">
                    </div>
                    <div class="user">

                        <div class="image-user">
                            <img class="border" src="../../../../../assets/img/leagueOfLegends/client/border.png" alt="">
                            <img class="icon" src="{{ friend.icon }}" alt="">
                        </div>

                        <div class="name">
                            <p>{{ friend.name }}</p>
                            <span>{{ friend.name }} #BR1</span>
                        </div>

                    </div>
                </div>

            </div>
            
        </div>

    </aside>

    <div class="content">
        
        <router-outlet></router-outlet>
    
    </div>

</div>
