@import '../../../../../assets/scss/flex.scss';

@keyframes imagepopup {

    0% {
        transform: rotate(30deg) scale(1);
    }
    
    50% {
        transform: rotate(-15deg) scale(1.1);
    }
    
    100% {
        transform: rotate(30deg) scale(1);
    }

}

.window-content {
    position: relative;
    height: calc(100% - 35px);
    background-color: #08121b;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0 0 5px 5px;
    border-top: 3px solid #744e16;
    overflow: hidden;

    span, li, p {
        
        font-family: 'FrizQuadrata';
    
    }

    .notification {
        @include flex(center, center, row);
        gap: 20px;
        position: absolute;
        top: 40px;
        left: 17%;
        background-color: #ff980029;
        backdrop-filter: blur(20px);
        border-radius: 10px;
        padding: 20px;
        visibility: hidden;
        opacity: 0;
        transition: .5s;
        color: #cdcdcd;
        z-index: 4000;

        &.opening-notification {
            top: 85px;
            opacity: 1;
            visibility: visible;
        }


        img {
            width: 100px;
            animation: imagepopup 5s infinite;
        }

        p {
            max-width: 450px;
            font-size: 12px;
        }

    }

    header {
        @include flex(flex-start, center, row);
        border-bottom: 1px solid #ebcfa426;
        position: fixed;
        width: 100%;
        background-color: #0a162280;
        backdrop-filter: blur(20px);
        z-index: 1000;

        .play-game {
            @include flex(center, center, row);
            gap: 5px;
            margin: 0 0 0 20px;

            img {
                width: 40px;
            }

            .button {
                display: flex;
                align-items: center;
                position: relative;
                transition: 200ms;
                cursor: pointer;
                opacity: 0.7;

                &:hover {
                    opacity: 1;
                }
                
                img {
                    width: 150px;
                
                }

                span {
                    position: absolute;
                    top: 7px;
                    left: 50px;
                    font-size: 12px;
                    text-transform: uppercase;
                    color: #ffffff;
            
                }

            }

        }

        nav {
            @include flex(space-between, center, row);
            flex-grow: 1;

            .list-game, .navigation {
                @include flex(flex-start, center, row);
                margin: 0 0 0 20px;
    
                li {
                    font-size: 12px;
                    text-transform: uppercase;
                    padding: 27px 15px;
                    color: #c8b08b;
                    transition: 200ms;
                    height: 100%;
                    cursor: pointer;

                    &.invalid {
                        cursor: no-drop;
                    }
    
                    img {
                        width: 25px;
                    }
    
                    &.active {
                        cursor: pointer;
                        position: relative;
                        
                        &::before {
                            content: '';
                            position: absolute;
                            top: -1px;
                            left: 30px;
                            width: 0; 
                            height: 0; 
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-top: 10px solid #744e16;
                        }
    
                    }
    
                    &.active, &:hover {
                        background: linear-gradient(181.07deg, rgba(196, 196, 196, 0) 9.43%, rgba(201, 171, 126, 0.42) 138.45%);
                        color: #ece2d3;
    
                    }
    
                }
    
            }
    
            .navigation {
                @include flex(flex-start, center, row);
    
                li {
                    padding: 23px;
                    opacity: 0.7;
    
                }
    
            }

        }

        .resources {
            @include flex(center, center, column);
            gap: 5px;
            margin: 0 0 0 30px;
            position: relative;

            &::before {
                content: '';
                left: -30px;
                height: 80%;
                width: 1px;
                background-color: #d3c0a3;
                position: absolute;
            }
            
            
            .resource {
                position: relative;
                display: flex;
                align-items: center;
                gap: 5px;
                cursor: pointer;

                &:hover {
                    
                    .popup {
                        opacity: 1;
                        visibility: visible;
                    }

                } 

                img {
                    width: 20px;
                }

                span {
                    color: #ece2d3;
                    font-size: 12px;
                    letter-spacing: 1px;
                }

                .popup {
                    position: absolute;
                    left: -30px;
                    top: -25px;
                    color: #ffffff;
                    font-size: 10px;
                    padding: 2px 20px;
                    background-color: #08121b;
                    border: 2px solid #b38a4d;
                    white-space: nowrap;
                    z-index: 1000;
                    opacity: 0;
                    visibility: hidden;
                    transition: 200ms;

                }

            }

        }

        .user {
            @include flex(center, center, row);
            gap: 10px;
            padding: 0 60px 0 20px;
            margin: 0 0 0 20px;
            background-color: #050a10b9;

            .avatar {
                position: relative;
                cursor: pointer;

                img {
                    width: 60px;
                }

                img:nth-child(1) {
                    position: absolute;
                    left: 0;
                    opacity: 0.9;

                    &:hover {
                        opacity: 1;
                    }

                }

                img:nth-child(2) {
                    width: 60px;
                    border-radius: 50%;

                }

                span {
                    position: absolute;
                    bottom: 3px;
                    left: 21px;
                    color: #ffffff99;
                    font-size: 10px;
                }

            }

            .info-user {
                color: #ffffff;
                font-size: 12px;
                letter-spacing: 1px;

                p {
                    width: 90px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                .ball {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: #00cf00;
                    border: 4px solid #8fcb8f;
                }

                span {
                    font-size: 10px;
                    color: #00cf00;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    margin: 5px 0 0;
                }

            }

        }

    }

    aside {
        position: fixed;
        right: 0;
        top: 110px;
        background-color: #050a10b9;
        backdrop-filter: blur(20px);
        min-width: 240px;
        height: calc(100% - 110px);

        .requests {
            @include flex(space-between, center, row);
            padding: 10px 15px;
            color: #b38a4d;
            font-size: 12px;
            cursor: pointer;

            &:hover {
                background-color: #ffffff1a;
                color: #ffc800;

                span {
                    background-color: #ffc800;

                }

            }

            span {
                background-color: #b38a4d;
                border-radius: 5px;
                color: #0a1622;
                padding: 3px 7px;
            }

        }

        .friends {

            .friend {
                @include flex(flex-start, center, row);
                padding: 10px 20px;
                gap: 10px;
                cursor: pointer;
                transition: 200ms;
                position: relative;

                &:hover {
                    background-color: #e7c4901a;

                    .icon {
    
                        img {
                            border: 3px solid #a37228;
                        }
    
                    }

                    .info {
                        color: #c8b08b;
                    }

                    .popup {
                        opacity: 1;
                        visibility: visible;
                        bottom: -130px
                    }
                }

                .icon {
                    @include flex(center, center, row);
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 2px;
                        height: 3px;
                        border-radius: 50%;
                        background-color: #08121b;
                        border: 3px solid #ffffff99;
                        bottom: 0;
                        right: 0;
                    }

                    img {
                        width: 35px;
                        border-radius: 50%;
                        border: 3px solid #a3722899;
                    }

                }

                .info {
                    color: #c8b08b99;
                    font-size: 12px;

                    span {
                        font-size: 9px;
                    }


                }

                .popup {
                    position: absolute;
                    left: -360px;
                    bottom: -140px;
                    border: 3px solid #a37228;
                    opacity: 0;
                    visibility: hidden;
                    transition: .4s;
                    background-color: #0a1622;
                    z-index: 4000;
                    
                    width: 350px;

                    .banner {

                        img {
                            object-fit: cover;
                            width: 100%;
                            height: 100px;

                        }

                    }

                    .user {
                        @include flex(flex-start, flex-end, row);
                        gap: 35px;
                        padding: 0 35px;
                        transform: translateY(-30px);
                        margin: 0 0 30px 0;

                        .image-user {
                            position: relative;

                            .border {
                                width: 125px;
                                position: absolute;
                                top: -20px;
                                left: -20px;
                                z-index: 100;
                            }
                            
                            .icon {
                                width: 80px;
                                border-radius: 50%;
                            }

                        }

                        .name {
                            @include flex(center, flex-start, column);

                            p {
                                color: #b38a4d;
                                font-size: 14px;
                                margin: 0;
                            }
    
                            span {
                                color: #c8b08b99;
                                font-size: 10px;
                            }

                        }

                    }

                }

            }
            
        }

    }

    .content {
        width: 100%;
        height: 100%;
        
    }

}