<main>

    <div class="content">

        <div class="navigation">
            <ul>
                <li class="active">pvp</li>
                <li>coop. vs. ia</li>
                <li>treinamento</li>
            </ul>
        </div>

        <div class="matches">

            <div class="type-match active">
                
                <div class="image">
                    <img src="../../../../../assets/img/leagueOfLegends/client/sr-hover.png" alt="">
                </div>
                
                <div class="name">
                    <span>5v5</span>
                    <h5>summoner's rift</h5>
                </div>
                
                <div class="description">
                    <p>Domine sua rota, entre em batalhas cinco contra cinco e destrua o nexus inimigo.</p>
                </div>
                
                <div class="options">

                    <ul>

                        <li class="active">
                            <input type="radio" name="optionSR" id="optionRanked">
                            <label for="optionRanked">Ranqueada Solo/Duo</label>
                        </li>
                        <li>
                            <input type="radio" name="optionSR" id="optionAlternating">
                            <label for="optionAlternating">Escolha alternada</label>
                        </li>

                    </ul>

                </div>
            
            </div>

            <div class="type-match">
                
                <div class="image">
                    <img src="../../../../../assets/img/leagueOfLegends/client/aram.png" alt="">
                </div>
                
                <div class="name">
                    <span>5v5</span>
                    <h5>aram</h5>
                </div>
                
                <div class="description">
                    <p>Domine sua rota, entre em batalhas cinco contra cinco e destrua o nexus inimigo no maior modo
                        competitivo do League.</p>
                </div>
            
            </div>

            <div class="type-match">
                
                <div class="image">
                    <img src="../../../../../assets/img/leagueOfLegends/client/tft.png" alt="">
                </div>
                
                <div class="name">
                    <span>5v5</span>
                    <h5>teamfight tactics</h5>
                </div>
                
                <div class="description">
                    <p>Domine sua rota, entre em batalhas cinco contra cinco e destrua o nexus inimigo no maior modo
                        competitivo do League.</p>
                </div>
            
            </div>

        </div>

        <div class="close-pvp">

            <div class="close-game">
                
                <div class="circle" (click)="navigate('system/LeagueOfLegends/home')">
                    X
                </div>
    
                <div class="button">
    
                    <img src="../../../../../assets/img/leagueOfLegends/client/play.png" alt="">
    
                    <span>confirmar</span>
    
                </div>
    
            </div>

        </div>

        <div class="loading">
            <div class="border">
                <img src="../../../../../assets/img/leagueOfLegends/client/logo.png" alt="">
            </div>
        </div>

    </div>

</main>