@import '../../../../../assets/scss/flex.scss';

main {
    background-image: url('../../../../../assets/img/leagueOfLegends/client/pvpBackground.png');
    transition: 200ms opacity;
    background-color: #00185a4f;
    background-size: cover;
    width: 100%;
    height: 100%;

    .content {
        @include flex(center, flex-start, column);
        transform: translateY(110px);
        height: calc(100% - 110px);
        width: calc(100% - 240px);
        color: #cdcdcd;
    }

}