@import '../../../../../assets/scss/flex.scss';

@keyframes transitionMatch {
    
    100% {
        margin-bottom: 0px;
    }

}

@keyframes opacityFade {

    100% {
        opacity: 1;
    }
    
}

main {
    background-image: url('../../../../../assets/img/leagueOfLegends/client/pvpBackground.png');
    transition: 200ms opacity;
    background-color: #00185a4f;
    background-size: cover;
    width: 100%;
    height: 100%;

    li, span, h5, label {
        
        font-family: 'FrizQuadrata';
    
    }

    .content {
        padding: 72px 40px 0 40px;
        height: 100%;
        width: calc(100% - 240px);
        color: #cdcdcd;
        overflow-y: hidden;

        .navigation {

            ul {
                @include flex(flex-start, center, row);
                gap: 20px;

                li {
                    font-size: 12px;
                    color: #c8b08b99;
                    padding: 5px 0;
                    cursor: pointer;

                    &.active {
                        color: #c8b08b;
                        border-bottom: 1px solid #c8b08b;
                    
                    }

                    &:hover {
                        color: #c8b08b;
                    }

                }

            }

        }

        .matches {
            @include flex(center, center, row);
            margin: 40px 0 0 0;

            .type-match:nth-child(1) {
                margin-bottom: -500px;
                animation: transitionMatch 1.5s 200ms forwards;

            }
            
            .type-match:nth-child(2) {
                margin-bottom: -500px;
                animation: transitionMatch 1.5s 400ms forwards;

            }
            
            .type-match:nth-child(3) {
                margin-bottom: -500px;
                animation: transitionMatch 1.5s 600ms forwards;

            }

            .type-match {
                @include flex(flex-start, center, column);
                padding: 0 20px;
                gap: 5px;
                cursor: pointer;
                transition: 200ms;
                height: max-content;

                &.active {

                    .description {
                        opacity: 1;

                    }

                }

                &:hover, &.active {
                        
                    .name {
                        color: #f0dec4;
                    }

                    .description {
                        opacity: 1;

                        p {
                            color: #f0dec4;
                        }

                    }

                }

                .image {

                    img {
                        width: 85px;
                        height: 85px;
                        z-index: 0;
                    }


                }

                .name {
                    text-transform: uppercase;
                    text-align: center;
                    color: #c8b08b;
                    transition: 200ms;

                    span {
                        font-size: 12px;
                    }

                }

                .description {
                    border-top: 1px solid #ffffff20;
                    border-bottom: 1px solid #ffffff20;
                    padding: 12px;
                    opacity: 0;
                    transition: 400ms;
                    
                    p {
                        font-family: 'Poppins';
                        font-size: 11px;
                        max-width: 250px;
                        color: #c8b08b99;
                        transition: 200ms;
                    }

                }

                .options {

                    ul {

                        li {
                            margin: 10px 0;
                            cursor: pointer;

                            &.active {

                                label {

                                    &::before {
                                        background-color: #ffffff;
                                    }

                                }

                            }

                            input {
                                display: none;
                            }

                            label {
                                position: relative;
                                font-size: 12px;
                                text-transform: uppercase;

                                &::before {
                                    content: '';
                                    position: absolute;
                                    left: -35px;
                                    bottom: 0;
                                    width: 7px;
                                    height: 7px;
                                    border: 4px solid #a37228;
                                    transform: rotate(45deg);

                                }

                            }
                            
                        }

                    }

                }

            }

        }
        
        .close-game {
            @include flex(center, center, row);
            gap: 3px;
            margin: 0 0 0 20px;
            position: fixed;
            bottom: 20px;
            left: 31%;
            opacity: 0;
            animation: opacityFade .5s 600ms forwards;
            cursor: pointer;

            .circle {
                @include flex(center, center, row);
                width: 35px;
                height: 35px;
                border-radius: 50%;
                background-color: #1d2737;
                border: 3px solid #a37228;
                color: #a37228;
            }

            .button {
                display: flex;
                align-items: center;
                position: relative;
                transition: 200ms;
                cursor: pointer;
                opacity: 0.7;

                &:hover {
                    opacity: 1;
                }
                
                img {
                    width: 150px;
                
                }

                span {
                    position: absolute;
                    top: 7px;
                    left: 30px;
                    font-size: 12px;
                    text-transform: uppercase;
                    color: #ffffff;
            
                }

            }

        }

    }

}