@import '../../../assets/scss/window.scss';
@import '../../../assets/scss/flex.scss';

@keyframes windowOpened {

    100% {

        opacity: 1;
        transform: scale(1);
        visibility: visible;
        filter: blur(0);
        z-index: 9;

    }

}

.workspace {
    padding: 20px;
    width: 100%;
    min-height: 100vh;
    background-image: url(../../../assets/img/system/background.png);
    background-color: #00041c;
    background-size: cover;
    background-repeat: no-repeat;

    .launchers {
        max-height: 60vh;
        
        ul {
            @include flex(flex-start, flex-start, column);
            flex-wrap: wrap;
            max-width: max-content;
            max-height: calc(100vh - 95px);


            li {
                @include flex(flex-start, center, column);
                padding: 10px;
                border-radius: 5px;
                transition: .4s ease-out;
                user-select: none;
                cursor: pointer;
                min-width: 100px;

                &:hover {
                    transform: scale(0.90);
                    background-color: #ffffff2e;
                    backdrop-filter: blur(20px);
                }

                img {
                    width: 50px;
                }

                span {
                    font-size: 12px;
                    color: #ffffff;
                    max-width: 80px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    display: block;
                    margin: 7px 0 0;
                }

            }

        }

    }

}

.bottom-bar {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;

    ul {
        display: flex;
        background-color: #ffffff2e;
        padding: 10px 15px;
        border-radius: 50px;
        backdrop-filter: blur(20px);
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.44);

        li {
            display: flex;
            align-items: center;
            padding: 0 10px;
            cursor: pointer;
            transition: 300ms;

            &:hover {
                transform: translateY(-20px) scale(1.4);
                margin: 0 20px;
            }

            img {
                width: 50px;
            }

        }

    }
    
}

.window {
    position: fixed;
    top: 5vh;
    left: calc(50% - 600px);
    width: 1200px;
    height: 550px;
    background-color: #00000080;
    border-radius: 5px;
    filter: blur(20px);
    visibility: hidden;
    opacity: 0;
    transform: scale(50);
    z-index: 11;
    transition: 0s;

    &.opened {
        
        animation: windowOpened 500ms forwards;

    }

    header {
        background: #0000000e;
        display: flex;
        justify-content: flex-end;
        padding: 5px 10px;
        border-radius: 5px;

        button {
            @include flex(center, center, row);
            position: relative;
            background-color: #ffffff10;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: none;
            transition: .5s ease-in;
            cursor: pointer;

            &:hover {
                background-color: #c5000042;
            }

            div {
                @include button(relative, 45deg);

                &::after {
                    content: '';
                    @include button(absolute, 90deg);
                    left: 0;

                }

            }

        }

    }

}