<div class="loading-system">
    <div class="spinner"></div>
</div>

<div class="workspace">
    <div class="launchers">
        <ul>
            <li *ngFor="let launcher of launchers" (click)="windowOpened(launcher.router)">
                <img src="{{ launcher.logo }}" alt="Icone do botão para inicializar {{ launcher.name }}">
                <span>{{ launcher.name }}</span>
            </li>
        </ul>
    </div>
</div>

<div class="bottom-bar">
    <ul>
        <li class="system">
            <img src="../../../assets/img/system/icons/windoug.svg" alt="Logo do Sistema Operacional">
        </li>
    </ul>
</div>

<div class="window" [ngClass]="windowClass" #window>

    <header (mousedown)="headerPressed($event)">
        <button (click)="windowClosed()">
            <div></div>
        </button>
    </header>

    <router-outlet></router-outlet>

</div>
