<main>

    <div class="content">

        <div class="banner">
            <img src="../../../../../assets/img/leagueOfLegends/client/bannerProfile.png" alt="">
            <div class="rank">
                <img src="../../../../../assets/img/leagueOfLegends/client/platinum.png" alt="">
                <p>{{ user }}</p>
            </div>
        </div>

        <div class="flex">

            <div class="goals">

                <div class="goal">
                    
                    <div class="description">
                        <h5>solo/duo</h5>
                        <span>platina</span>
                    </div>

                    <img src="../../../../../assets/img/leagueOfLegends/client/platinum.png" alt="">

                </div>
                
                <div class="goal">
                    
                    <div class="description">
                        <h5>honra</h5>
                        <span>nível 4</span>
                    </div>

                    <img src="../../../../../assets/img/leagueOfLegends/client/honra.png" alt="">

                </div>
                
                <div class="goal">
                    
                    <div class="description">
                        <h5>pontuação de maestria</h5>
                        <span>195</span>
                    </div>

                    <img src="../../../../../assets/img/leagueOfLegends/client/pyke-score.png" alt="">

                    <div class="champion-score">

                        <h3>Maestria de campeão mais alta</h3>

                        <div class="champions">

                            <div class="champion">
                                
                                <img src="../../../../../assets/img/leagueOfLegends/client/yone-score.png" alt="">
                            
                                <div class="score">
                                    <h3>Yone</h3>
                                    <p>131.341 pts</p>
                                    <span>Melhor nota: S+</span>
                                </div>

                            </div>
                            
                            <div class="champion">
                                
                                <img src="../../../../../assets/img/leagueOfLegends/client/pyke-score.png" alt="">
                            
                                <div class="score">
                                    <h3>Pyke</h3>
                                    <p>61.721 pts</p>
                                    <span>Melhor nota: S+</span>
                                </div>

                            </div>
                            
                            <div class="champion">
                                
                                <img src="../../../../../assets/img/leagueOfLegends/client/morder-score.png" alt="">
                            
                                <div class="score">
                                    <h3>Mordekaiser</h3>
                                    <p>38.138 pts</p>
                                    <span>Melhor nota: S-</span>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
                
                <div class="goal">

                    <div class="description">
                        <h5>Troféu</h5>
                    </div>

                    <img src="../../../../../assets/img/leagueOfLegends/client/trophy-goal.png" alt="">

                </div>
                
                <div class="goal">

                    <div class="description">
                        <h5>Bandeira</h5>
                    </div>

                    <img src="../../../../../assets/img/leagueOfLegends/client/ban.png" alt="">

                </div>

            </div>

        </div>

    </div>

</main>
