<div class="window-content">

    <div class="loading">

        <p>Carregando</p>
        
    </div>
    
    <div class="notification">

        <img src="../../../../../assets/img/fortnite/icon.png" alt="">
        
        <div class="description">

            <h4>Projeto ainda em desenvolvimento</h4>
            <p>Olá, provavelmente você instalou esse jogo, porém o desenvolvimento dele ainda não foi concluído,
                quem sabem em breve. :)
            </p>

        </div>

    </div>

    
</div>
