<div class="window-content">
    <header>
    
        <img src="../../../../assets/img/epic/logoEpic.svg" alt="Logo da Epic Games">
    
        <ul>
    
            <li class="active"><span>Store</span></li>
            <li><span>Ajuda</span></li>
            
            <ul>
        
                <li><span>Login</span></li>
        
            </ul>
            
        </ul>
    
    
    </header>

    <section class="search">

        <div class="search-input">
            <img src="../../../../assets/img/system/icons/search.svg" alt="icon">
            <input type="text" placeholder="Pesquisar">
        </div>

        <ul>
            <li class="active">Descobrir</li>
            <li>Navegar</li>
            <li>Novidades</li>
        </ul>

    </section>

</div>
