<div class="window-content">
    <header>
    
        <img src="../../../../assets/img/epic/logoEpic.svg" alt="Logo da Epic Games">
    
        <ul>
    
            <li class="active"><span>Store</span></li>
            <li><span>Ajuda</span></li>
            
            <ul>
        
                <li><span>Login</span></li>
        
            </ul>
            
        </ul>
    
    
    </header>

    <section class="search">

        <div class="search-input">
            <img src="../../../../assets/img/system/icons/search.svg" alt="icon">
            <input type="text" placeholder="Pesquisar">
        </div>

        <ul>
            <li class="active">Descobrir</li>
            <li>Navegar</li>
            <li>Novidades</li>
        </ul>

    </section>

    <section class="games">
        
        <h2>Jogos Disponíveis</h2>

        <div class="cards">

            <div *ngFor="let game of gamesEpic" class="card" (click)="downloadGame(game)">

                <div class="download-bar">
                    <img src="{{ game.image }}" alt="">
                    <div class="download {{ game.classVisible }}">
                        <span>{{ game.percentageDownload }}</span>
                    </div>
                </div>

                <p>{{ game.name }}</p>

            </div>

        </div>

    </section>

</div>
