@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import '../../../../assets/scss/flex.scss';

@keyframes download {

    100% {
        
        width: 100%;
    
    }

}

@keyframes percentage {
    
    100% {

        opacity: 1;

    }

}

.window-content {
    position: relative;
    height: calc(100% - 35px);
    background-color: #121212;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0 0 5px 5px;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ffffff50;
        border-radius: 50px;
    }

    span, input, li, h2, p {
        
        font-family: 'Poppins', sans-serif;
        color: #ffffff

    }

    header {
        @include flex(flex-start, center, row);
        background-color: #2a2a2a;
        padding: 0 10px;

        img {
            width: 40px;
            margin: 0 20px 0 15px;
            cursor: pointer;
        }

        ul {
            width: 1000px;
            @include flex(flex-start, center, row);

            li {
                color: #ffffff99;
                padding: 20px 15px;
                cursor: pointer;
                position: relative;
                text-transform: uppercase;
                font-size: 13px;
                letter-spacing: 1px;

                &.active, &:hover {

                    &::after {
                        height: 5px;
                    }

                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 0px;
                    background-color: #0078f2;
                    transition: 200ms;
                }

            }

        }

    }

    .search {
        @include flex(flex-start, center, row);
        gap: 40px;
        padding: 30px 10%;
        position: sticky;
        top: 0;
        background-color: #121212;

        .search-input {
            @include flex(flex-start, center, row);
            position: relative;

            img {
                position: absolute;
                left: 20px;
                width: 20px;
            }

            input {
                background-color: transparent;
                border: none;
                outline: none;
                padding: 10px 10px 10px 50px;
                background-color: #202020;
                border-radius: 50px;
                transition: 200ms;
                caret-color: #ffffff;

                &:focus {
                    background-color: #2a2a2a;
                }

            }

        }

        ul {
            @include flex(flex-start, center, row);
            gap: 30px;

            li {
                color: #6a6a6a;
                transition: 200ms;
                cursor: pointer;

                &.active, &:hover {
                    color: #ffffff;
                }

            }

        }

    }

    .games {
        padding: 0 10%;

        h2 {
            color: #ffffff;
            font-size: 14px;
            font-weight: 100;
            margin: 20px 0;
        }

        .cards {
            display: flex;
            justify-content: space-between;

            .card {
                cursor: pointer;
                
                .download-bar {
                    transition: 200ms;
                    position: relative;
                    
                    &:hover {
                        
                        opacity: 0.7;

                    }

                    img {
                        width: 150px;
                        border-radius: 5px;

                    }

                    .download {
                        @include flex(center, center, row);
                        position: absolute;
                        width: 0%;
                        height: 100%;
                        background-color: #00000090;
                        border-radius: 5px;
                        top: 0;
                        left: 0;

                        &.downloading {
                            animation: download 10s forwards;
                            
                            span {
                                animation: percentage 2s 3s forwards;

                            }

                        }

                        &.installed {
                            width: 100%;

                            span {

                                opacity: 1;

                            }

                        }

                        span {
                            opacity: 0;
                            font-weight: 900;

                        }

                    }

                }

                p {
                    
                    font-size: 14px;
                    letter-spacing: 1px;
                
                }

            }

        }

    }

}