@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {

    font-family: FrizQuadrata;
    src: url(./assets/font/FrizQuadrataBold.otf);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
    list-style: none;
    text-decoration: none;
    user-select: none;
}
